# Google OAuth credentials
GOOGLE_CLIENT_ID=13949518988-7v6fr6nr0cip4hb6g56pi25beqlqkd7h.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# MongoDB connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# Server port
PORT=5000
